@use './variables' as *;

.mybtn {
    padding: .5rem;
    border: solid 2px $color-primary;
    color: $text-secondary;
    background-color: $color-third;
    text-transform: uppercase;
    font-weight: bold;

}

.mybtn2 {
    width: 150px;
    padding: .5rem;
    border: none;
    color: $text-secondary;
    background-color: $color-primary;
    text-transform: uppercase;
    font-weight: bold;
}